{% extends 'base_template.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'logged_in_style.css'%}"> {% endblock %}

{% block head %}Logged in as {% firstof name|capfirst "User"  %}{% endblock %}
{% block content %}
    <a class="logout-button" href="{% url 'signout' %}">Sign Out</a>
<div class="button-div">
    <a class="button" href="{% url 'register' %}">Register For Classes</a>
    <a class="button" href="{% url 'show_schedule' %}">Show Schedule</a>
</div>
{% endblock %}