{% extends 'base_template.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'signup.css'%}"> {% endblock %}

{% block head %}Login{% endblock %}
{% block content %}


{% if error %}
    <div class="error">{{ error }}</div>
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        {{ form }}
        <input type="submit" class="btn btn-primary" value="Log In">
    </form>
</div>
    <a href="{% url 'signup' %}" class="redirect-button">Don't have an account?</a>
{% endblock %}