{% extends 'base_template.html' %}
{% load static %}

{% block style %} <link rel="stylesheet" href="{% static 'signup.css'%}"> {% endblock %}

{% block head %}Login{% endblock %}
{% block content %}


{% if error %}
        {{ error }}
{% endif %}

<div class="login-form">
    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <input type="text" class="username-field" placeholder="Username">
        <input type="password" class="password-field" placeholder="Password">
        <input type="submit" class="btn btn-primary" value="Log In">
    </form>
</div>
    <a href="{% url 'signup' %}" class="redirect-button">Don't have an account?</a>
{% endblock %}