{% extends 'base_template.html' %}
{% load static %}
{% block style %} <link rel="stylesheet" href="{% static 'signup.css'%}"> {% endblock %}

{% block head %} Sign Up {% endblock %}
{% block content %}

    {% if error %}
        {{ error }}
    {% endif %}
<div class="registration-form">
{% if form %}
    {% load crispy_forms_tags %}
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
            {{ form|crispy }}
    <input type="submit" class="submit-button" value="Register">
    </form>
{% endif %}
</div>
    <a href="{% url 'login' %}" class="redirect-button">Already Have An Account?</a>
{% endblock %}