/* STYLE FOR ALL THE LOGGED IN VIEWS*/

.button-div {
    width: 100%;
    display: inline-block;
    height: 100%;
}

.button-div .button {
    width: 50vw;
    height: 80vh;
    background-color: white;
    font-size: 5rem;

}